.loader-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 2rem;
}

.custom-spinner {
  width: 56px;
  height: 56px;
  transform: scale(1.5);
}

.loader-text {
  font-size: 1rem;
  margin-top: 0.5rem;
}
